<a href="https://colab.research.google.com/github/Poohi5/AlternusVera/blob/master/Alternus_Vera_Final_Pooja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/MLSpring2020/"
base_dir = root_dir + 'the_expendables_AirQuality_Traffic'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
dataPathliar = base_dir + '/Alternus_vera/liar_1.csv'

In [0]:
import pandas as pd
import numpy as np

In [0]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
dfliar = pd.read_csv(dataPathliar)

In [0]:
dfliar.head()

   Unnamed: 0  ...     fakeness
0           0  ...        FALSE
1           1  ...    half-true
2           2  ...  mostly-true
3           3  ...        FALSE
4           4  ...    half-true

[5 rows x 5 columns]

In [0]:
dataPathkaggle = base_dir + '/Alternus_vera/kaggle_1.csv'

In [0]:

dfkaggle = pd.read_csv(dataPathkaggle)

In [0]:
dfkaggle.head(2)

   Unnamed: 0  ... fakeness
0           0  ...    False
1           1  ...    False

[2 rows x 5 columns]

In [0]:
dataPathnewscat = base_dir + '/Alternus_vera/newcat_1.csv'

In [0]:
dfnewcat = pd.read_csv(dataPathnewscat)

In [0]:
dfnewcat.head()

   Unnamed: 0  ...   fakeness
0          13  ...  half-true
1          14  ...  half-true
2          15  ...  half-true
3          16  ...  half-true
4          17  ...  half-true

[5 rows x 5 columns]

In [0]:
df = pd.concat([dfliar, dfkaggle, dfnewcat])

In [0]:
df.head()

   Unnamed: 0  ...     fakeness
0           0  ...        FALSE
1           1  ...    half-true
2           2  ...  mostly-true
3           3  ...        FALSE
4           4  ...    half-true

[5 rows x 5 columns]

In [0]:
dftrain = dfliar

In [0]:
dftrain.head()

   Unnamed: 0  ...     fakeness
0           0  ...        FALSE
1           1  ...    half-true
2           2  ...  mostly-true
3           3  ...        FALSE
4           4  ...    half-true

[5 rows x 5 columns]

In [0]:
dftrain = dftrain[['body', 'author', 'title', 'fakeness']].copy()

In [0]:
dftrain.head()

                                                body  ...     fakeness
0  says annies list political group supports thir...  ...        FALSE
1  decline coal start started natural gas took st...  ...    half-true
2  hillary clinton agrees john mccain voting geor...  ...  mostly-true
3  health care reform legislation likely mandate ...  ...        FALSE
4               economic turnaround started end term  ...    half-true

[5 rows x 4 columns]

In [0]:
dftrain.shape

(12791, 4)

In [0]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer

In [0]:

dftrain=dftrain.dropna()

In [0]:
dftrain.shape

(12789, 4)

###Import Nltk

In [0]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

##Part 3

In [0]:
#!pip install gensim

In [0]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [0]:
messages=dftrain.copy()

In [0]:
messages.head()

                                                body  ...     fakeness
0  says annies list political group supports thir...  ...        FALSE
1  decline coal start started natural gas took st...  ...    half-true
2  hillary clinton agrees john mccain voting geor...  ...  mostly-true
3  health care reform legislation likely mandate ...  ...        FALSE
4               economic turnaround started end term  ...    half-true

[5 rows x 4 columns]

In [0]:
messages.shape

(12789, 4)

In [0]:
messages.head()

                                                body  ...     fakeness
0  says annies list political group supports thir...  ...        FALSE
1  decline coal start started natural gas took st...  ...    half-true
2  hillary clinton agrees john mccain voting geor...  ...  mostly-true
3  health care reform legislation likely mandate ...  ...        FALSE
4               economic turnaround started end term  ...    half-true

[5 rows x 4 columns]

In [0]:
messages.head(6)

                                                body  ...     fakeness
0  says annies list political group supports thir...  ...        FALSE
1  decline coal start started natural gas took st...  ...    half-true
2  hillary clinton agrees john mccain voting geor...  ...  mostly-true
3  health care reform legislation likely mandate ...  ...        FALSE
4               economic turnaround started end term  ...    half-true
5  chicago bears starting quarterbacks years tota...  ...         TRUE

[6 rows x 4 columns]

In [0]:
!pip install pyjarowinkler

Collecting pyjarowinkler
  Downloading https://files.pythonhosted.org/packages/b9/58/b89073047b447e02b08d4f64fbb984e5a4dfef4134477350b256c625c779/pyjarowinkler-1.8-py2.py3-none-any.whl
Installing collected packages: pyjarowinkler
Successfully installed pyjarowinkler-1.8

In [0]:
from pyjarowinkler.distance import get_jaro_distance

In [0]:
messages['similarity'] = [get_jaro_distance(x, y) for x, y in zip(messages['body'], messages['title'])]

In [0]:
messages.head()

                                                body  ... similarity
0  says annies list political group supports thir...  ...       0.36
1  decline coal start started natural gas took st...  ...       0.44
2  hillary clinton agrees john mccain voting geor...  ...       0.44
3  health care reform legislation likely mandate ...  ...       0.81
4               economic turnaround started end term  ...       0.76

[5 rows x 5 columns]

In [0]:
messages.tail()

                                                    body  ... similarity
12786    time decade imports accounted half oil consumed  ...       0.46
12787  says donald trump bankrupted companies twice t...  ...       0.47
12788  john mccain george bush absolutely plan univer...  ...       0.48
12789  new poll shows percent support presidents plan...  ...       0.43
12790  claims report vindicating new jersey gov chris...  ...       0.57

[5 rows x 5 columns]

In [0]:
messages.fakeness.dtype

dtype('O')

In [0]:
messages['fakeness'] = messages.fakeness.astype(str)

In [0]:
dftest = df.iloc[:3000]
dftest.head()

   Unnamed: 0  ...     fakeness
0           0  ...        FALSE
1           1  ...    half-true
2           2  ...  mostly-true
3           3  ...        FALSE
4           4  ...    half-true

[5 rows x 5 columns]

In [0]:
dftest['title'] = dftest.title.astype(str)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
dftest['body'] = dftest.body.astype(str)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
dftest.shape

(3000, 5)

In [0]:
dftest.columns

Index(['Unnamed: 0', 'body', 'author', 'title', 'fakeness'], dtype='object')

In [0]:
dftest = dftest.drop('Unnamed: 0', axis=1)

In [0]:
dftest.head()

                                                body  ...     fakeness
0  says annies list political group supports thir...  ...        FALSE
1  decline coal start started natural gas took st...  ...    half-true
2  hillary clinton agrees john mccain voting geor...  ...  mostly-true
3  health care reform legislation likely mandate ...  ...        FALSE
4               economic turnaround started end term  ...    half-true

[5 rows x 4 columns]

In [0]:
dftest['similarity'] = [get_jaro_distance(x, y) for x, y in zip(dftest['body'], dftest['title'])]

In [0]:
dftest.head()

                                                body  ... similarity
0  says annies list political group supports thir...  ...       0.36
1  decline coal start started natural gas took st...  ...       0.44
2  hillary clinton agrees john mccain voting geor...  ...       0.44
3  health care reform legislation likely mandate ...  ...       0.81
4               economic turnaround started end term  ...       0.76

[5 rows x 5 columns]

In [0]:
dftest.tail()

                                                   body  ... similarity
2995  percentage texas high school students meeting ...  ...       0.41
2996  obamas liberal fiscal agenda billion new spending  ...       0.35
2997  tommy thompson millions corporations outsource...  ...       0.48
2998  georgia welldeserved reputation setting gold s...  ...       0.44
2999  asked unions pay health care insurance said un...  ...       0.50

[5 rows x 5 columns]

In [0]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
label_encoder.fit(messages['fakeness'])

LabelEncoder()

In [0]:
label = label_encoder.transform(messages['fakeness'])

In [0]:
messages['fakeness'] = label

In [0]:
label = label_encoder.transform(dftest['fakeness'])

In [0]:
dftest['fakeness'] = label

In [0]:
messages.head()

                                                body  ... similarity
0  says annies list political group supports thir...  ...       0.36
1  decline coal start started natural gas took st...  ...       0.44
2  hillary clinton agrees john mccain voting geor...  ...       0.44
3  health care reform legislation likely mandate ...  ...       0.81
4               economic turnaround started end term  ...       0.76

[5 rows x 5 columns]

In [0]:
dftest.head()

                                                body  ... similarity
0  says annies list political group supports thir...  ...       0.36
1  decline coal start started natural gas took st...  ...       0.44
2  hillary clinton agrees john mccain voting geor...  ...       0.44
3  health care reform legislation likely mandate ...  ...       0.81
4               economic turnaround started end term  ...       0.76

[5 rows x 5 columns]

In [0]:
Xtrain = messages[['similarity']].values
Ytrain = messages.fakeness

In [0]:
Xtrain.shape

(12789, 1)

In [0]:
Ytrain.shape

(12789,)

In [0]:
Xtest = dftest[['similarity']].values
Ytest = dftest.fakeness

In [0]:
Xtest.shape

(3000, 1)

In [0]:
Ytest.shape

(3000,)

In [0]:
Xtest.shape

(3000, 1)

###Random Forest

In [0]:
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier

In [0]:
from sklearn import  metrics

In [0]:
rf = RandomForestClassifier(n_estimators=100,n_jobs=3)

In [0]:
rf.fit(Xtrain, Ytrain)
y_pred_rf = rf.predict(Xtest)

In [0]:
y_pred_rf

array([3, 3, 3, ..., 3, 3, 3])

In [0]:
np.unique(y_pred_rf)

array([0, 1, 2, 3, 4, 5])

In [0]:
metrics.accuracy_score(Ytest, y_pred_rf)

0.22966666666666666

In [0]:
metrics.classification_report(Ytest, y_pred_rf)

'              precision    recall  f1-score   support\n\n           0       0.25      0.28      0.26       618\n           1       0.21      0.03      0.06       508\n           2       0.24      0.08      0.12       462\n           3       0.21      0.45      0.29       570\n           4       0.24      0.36      0.29       583\n           5       0.17      0.01      0.01       259\n\n    accuracy                           0.23      3000\n   macro avg       0.22      0.20      0.17      3000\nweighted avg       0.23      0.23      0.19      3000\n'

###XGBOOST

In [0]:
xgb = XGBClassifier()

In [0]:
xgb.fit(Xtrain, Ytrain)
ypred_xg = xgb.predict(Xtest)

In [0]:
metrics.accuracy_score(Ytest, ypred_xg)

0.22066666666666668

In [0]:
np.unique(ypred_xg)

array([0, 1, 2, 3, 4])

In [0]:
textlabel = label_encoder.inverse_transform(y_pred_rf)

In [0]:
textlabel1 = label_encoder.inverse_transform(Ytest)

In [0]:
np.unique(textlabel)

array(['FALSE', 'TRUE', 'barely-true', 'half-true', 'mostly-true',
       'pants-fire'], dtype=object)

In [0]:
noderankdf = pd.read_csv(base_dir+'/Alternus_vera/Classification_3.csv')

In [0]:
noderankdf.head()

   Unnamed: 0  Unnamed: 0.1  ...  politicalbiasClass clickbaitclass
0           0             0  ...               FALSE          FALSE
1           1             1  ...         mostly-true      half-true
2           2             2  ...         mostly-true    mostly-true
3           3             3  ...           half-true          FALSE
4           4             4  ...         mostly-true           TRUE

[5 rows x 6 columns]

In [0]:
noderankdf.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'NodeRankClass',
       'politicalbiasClass', 'clickbaitclass'],
      dtype='object')

In [0]:
noderankdf = noderankdf.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'], axis=1)

In [0]:
noderankdf.head()

  NodeRankClass politicalbiasClass clickbaitclass
0         FALSE              FALSE          FALSE
1     half-true        mostly-true      half-true
2   mostly-true        mostly-true    mostly-true
3   mostly-true          half-true          FALSE
4         FALSE        mostly-true           TRUE

In [0]:
noderankdf['ActualClass'] = textlabel1

In [0]:
noderankdf['titlebodyclass'] = textlabel

In [0]:
noderankdf.head()

  NodeRankClass politicalbiasClass clickbaitclass  ActualClass titlebodyclass
0         FALSE              FALSE          FALSE        FALSE      half-true
1     half-true        mostly-true      half-true    half-true      half-true
2   mostly-true        mostly-true    mostly-true  mostly-true      half-true
3   mostly-true          half-true          FALSE        FALSE      half-true
4         FALSE        mostly-true           TRUE    half-true      half-true

In [0]:
 with open(base_dir + '/Alternus_vera/Classification_4.csv', 'a') as f:
      noderankdf.to_csv(f)

In [0]:
noderankdf.head()

  NodeRankClass politicalbiasClass clickbaitclass  ActualClass titlebodyclass
0         FALSE              FALSE          FALSE        FALSE      half-true
1     half-true        mostly-true      half-true    half-true      half-true
2   mostly-true        mostly-true    mostly-true  mostly-true      half-true
3   mostly-true          half-true          FALSE        FALSE      half-true
4         FALSE        mostly-true           TRUE    half-true      half-true

In [0]:
noderankdf = noderankdf[['NodeRankClass', 'politicalbiasClass', 'clickbaitclass', 'titlebodyclass']]

In [0]:
noderankdf.head()

  NodeRankClass politicalbiasClass clickbaitclass titlebodyclass
0         FALSE              FALSE          FALSE      half-true
1     half-true        mostly-true      half-true      half-true
2   mostly-true        mostly-true    mostly-true      half-true
3   mostly-true          half-true          FALSE      half-true
4         FALSE        mostly-true           TRUE      half-true

In [0]:
noderankdf['Finalclass'] = noderankdf.mode(axis=1)[0]

In [0]:
noderankdf.head()

  NodeRankClass politicalbiasClass clickbaitclass titlebodyclass   Finalclass
0         FALSE              FALSE          FALSE      half-true        FALSE
1     half-true        mostly-true      half-true      half-true    half-true
2   mostly-true        mostly-true    mostly-true      half-true  mostly-true
3   mostly-true          half-true          FALSE      half-true    half-true
4         FALSE        mostly-true           TRUE      half-true        FALSE

In [0]:
noderankdf.tail()

     NodeRankClass politicalbiasClass  ... titlebodyclass   Finalclass
2995         FALSE              FALSE  ...    barely-true        FALSE
2996   mostly-true              FALSE  ...    mostly-true  mostly-true
2997         FALSE        mostly-true  ...      half-true    half-true
2998   mostly-true        mostly-true  ...      half-true  mostly-true
2999         FALSE              FALSE  ...      half-true        FALSE

[5 rows x 5 columns]

In [0]:
noderankdf['ActualClass'] = textlabel1

In [0]:
noderankdf.head()

  NodeRankClass politicalbiasClass  ...   Finalclass  ActualClass
0         FALSE              FALSE  ...        FALSE        FALSE
1     half-true        mostly-true  ...    half-true    half-true
2   mostly-true        mostly-true  ...  mostly-true  mostly-true
3   mostly-true          half-true  ...    half-true        FALSE
4         FALSE        mostly-true  ...        FALSE    half-true

[5 rows x 6 columns]

In [0]:
metrics.accuracy_score(noderankdf['ActualClass'], noderankdf['Finalclass'])

0.36433333333333334